.row{
    display: flex;
    flex-wrap: wrap;
}
.row .adminproducts{
    flex: 1 1 19rem;
}
.row .adminproducts .row-2{
    display: flex;
    flex-wrap: wrap;
}
.row .adminproducts .row-2 .singleproduct{
    flex: 1 1 18rem;
}