.row{
    display: flex;
    flex-wrap: wrap;
}
.row .updateproduct{
    flex: 1 1 10rem;
    margin-top: 2rem;
}
.row .h-updateproduct{
    text-align: center;
}



/* mediaquery */

@media (max-width:450px){
    .row .img{
        width: 11rem;
        height: 11rem;
        object-fit: cover;
    }
}