.similarproducts{
    text-align: center    ;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.row .imagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 5rem;
}
.row .imagecontainer img{
    width: 20rem;
}
.row .detailcomponent{
    flex: 1 1 10rem;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 2rem;
}

.row .similarcard{
    align-items: center;
    justify-content: center;
}
.row .similarcard img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    padding: 1rem;
}
.row .similarcard .carddetails{
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row .similarcardcontainer{
    flex: 1 1 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* ================================ */
/* Apply styles to the container of product details */
.product-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Style for product name */
  .product-details p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Style for product description */
  .product-details p:nth-child(2) {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
  }
  
  /* Style for product price */
  .product-details p:nth-child(3) {
    font-size: 18px;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 10px;
  }
  
  /* Style for product category */
  .product-details p:nth-child(4) {
    font-size: 14px;
    color: #888;
  }
  
  /* Add a subtle border and hover effect */
  .product-details:hover {
    border-color: #e91e63;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
/* ================================ */


@media (max-width:450px){
    html{
        font-size: 80%;
      }
    .row .similarcard .two-btn{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .row .imagecontainer img{
        width: 14rem;
    }
  }

  @media (min-width:451px) and (max-width:992px){
    .row .similarcard img{
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        padding: 1rem;
    }
}
  @media (max-width:1996px){
    .row .similarcard .two-btn{
      display: flex;
      gap: 1rem;
    }
  }

